<%= form_with(url: root_path, method: :get, data: { turbo_frame: "home" } ) do |f| %>
	<div class="row">
		<div class="col">
			<%= f.text_field :user_id, placeholder: "Search User ID", class: "form-control", value: params[:user_id] %>
		</div>
		<div class="col-3 d-grid gap-3">
			<%= f.submit "Search", class: "btn btn-outline-primary" %>
		</div>
	</div>
<% end %>